h1{
    text-align: center;
    background-color: gray;
}
p{
    text-align: center;
    font-size: 24px;
}

#resultados img{
    width: 200px;
    height: 200px;
    margin-top:20px;
}
#maqueta{
    border: 2px solid black;
    font-size: 16px;
    font-style: italic;
}