<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top" id="top">
  <img src="https://img00.deviantart.net/c04d/i/2016/162/8/2/corona_clash_royale_by_eradesgl-da5usf1.png" width="50" height="50" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="#">Guía de referencia de Clash Royale</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cartas']">Cartas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/arenas']">Arenas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/mazo-alea']">Mazo aleatorio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" (click)="cambiar_estilo(true)">Cálido</a> -->
          <a class="dropdown-item" (click)="cambiar_estilo(false)">Tema oscuro</a>
        </div>
      </li>
    </ul>
  </div>
</nav>